<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% for profe in teachers %} 

    <p>Nombre: {{profe.nombre}}</p>
    <p>Apellido: {{profe.apellido}}</p>
    <p>Email: {{profe.email}}</p>
    <p>Profesion: {{profe.profesion}}</p>

    <button>
        <a href="{% url 'ProfesoresEditar' profe.nombre %}"> Editar Profesor  </a>
    </button>
    <button>
    <a href="{% url 'ProfesoresEliminar' profe.nombre %}"> Eliminar Profesor  </a>
    </button>
    ###########################################

    {% endfor %}  

    <br>

    <a href="{% url 'ProfesoresCrear'%}"> Crear Profesor  </a>


</body>
</html>